# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [48]:
number = 1
print(number)
type(number)

1

int

#Assinging float

In [47]:
num_float = 6.0
print(num_float)
type(num_float)

6.0

float

#### Performing Calculations on ints and floats

##### Addition

In [13]:
num1 = 2
num2 = 5.4

add1 = num1 + num2
print(add1)
type(add1)

#shorthand
add1 += 5 #
print(add1)

7.4
12.4

##### Subtraction

In [15]:
diff1 = num2-num1
print(diff1)

diff1 -= 2
print(diff1)

3.4000000000000004
1.4000000000000004

##### Multiplication

In [18]:
prod1 = num1 * num2
print(prod1)

prod1 *= 2
print(prod1)

10.8
21.6

##### Division

In [20]:
div1 = 9 / 3
print(div1)

div1 /= 3 #same as div1 = div1 / 3
print(div1)

3.0
1.0

##### Floor Division

In [55]:
fdiv = 10 // 3
print(fdiv)

fdiv //= 2
print(fdiv)

3
1

##### Modulo

In [54]:
mod = 10 % 3
print(mod)

1

##### Exponential

In [25]:
square = 5**2
print(square)

square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [28]:
name="chris"
print(name)
print("name")
type(name)

chris
name

str

##### print() <br>
<p>Don't forget about end=' '</p>

In [33]:
print('This is my first name', name.title())

This is my first name Chris

##### String Concatenation

In [35]:
first_name = "John"
last_name = "Doe"
full_name = first_name + ' ' + last_name
print(full_name)

John Doe

##### Type Conversion

In [44]:
num_str = "32"
print(num_str)
print(type(num_str))
num_int = int(num_str)
print(num_int)
print(type(num_int))

32
<class 'str'>
32
<class 'int'>

##### input()

In [49]:
# input will always return a string
name = input("What is your name")
print(name)

age = int(input("What is your age"))
print(age)
print("You will be", age + 1, "years old next year.")

Trevor
39
You will be 40 years old next year.

##### format()

In [2]:
age = input("What is your age? ")
statement = f"You will be {int(age) + 5} years old in 5 years."
print(statement)

What is your age? 37
You will be 42 years old in 5 years.

##### Old Way (python 2)

In [ ]:
# ignore

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [8]:
color = input("What is the color of your car? ")
year = input("What is the year of your car? ")
make = input("What is the make of your car? ")
model = input("What is the model of your car? ")

print(f"You have a {color}, {year}, {make} {model.title()}.")

What is the color of your car? red
What is the year of your car? 1983
What is the make of your car? ford
What is the model of your car? tempo
You have a red, 1983, ford Tempo.

### If Statements

In [16]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10

if num1 == num2:
    print('equal values')
else:
    print('unequal values')
    
if num2 > num1:
    print('num2 beef')
elif num2 == num1:
    print('they are the same')
else:
    print('')

print('done')

equal values
done

##### 'is' keyword

In [18]:
num3 = 55
num4 = 55
if num3 is num4:
    print('num3 is num4')

num3 is num4

##### 'in' keyword

In [21]:
# check to see if something is INSIDE a collection.
name = 'Shoha'
if "i" in name:
    print(f"I in {name}.")
else:
    print(f'There is no I in {name}')

There is no I in Shoha

##### 'not in' keyword'

In [ ]:
name = 'Shiha'
if "i" in name:
    print(f"I in {name}.")
else:
    print(f'There is no I in {name}')

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [29]:
name = input('What is your name? ')
if 'p' in name:
    print(f'There is a P in {name}.')
else:
    print(f"No P in {name}.")

What is your name? paul
There is a P in paul.

## Using 'and'/'or' with If Statements

In [33]:
name = "Shoha"
age = 999
if name == "Shoha" and age == 9999:
    print("I am the chosen one.")
else:
    print("You have not been chosen.")
    
if name == "Shoha" or age == '9999':
    print("I might be the chosen one.")
else:
    print("You have not been chosen.")

You have not been chosen.
I might be the chosen one.

### Elif Statements

### Else Statements

In [ ]:
# see above

### For Loops

In [43]:
name = 'Harry Potter'
# syntax: <var_name> in <iterable>:

for letter in name:
    print(letter.upper())
    
for i in range(len(name)):
    print(name[i], i)
    if i == 5

print(name[4])

H
A
R
R
Y

P
O
T
T
E
R
H 0
a 1
r 2
r 3
y 4
  5
P 6
o 7
t 8
t 9
e 10
r 11
y

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [46]:
for i in range(5):
    if i == 3:
        continue
    print(i)
    
    print('something else')

0
something else
1
something else
2
something else
4
something else

##### Break Statement

In [ ]:
# will break out of current loop

In [48]:
for i in range(5):
    if i == 3:
        break
    print(i)
    
    print('something else')
    
print("done")

0
something else
1
something else
2
something else
done

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [52]:
if True:
    pass
else:
    pass

##### Double For Loops

In [55]:
for i in range(3):
    for j in range(5):
        print("i=,", i, 'j=', j)

i=, 0 j= 0
i=, 0 j= 1
i=, 0 j= 2
i=, 0 j= 3
i=, 0 j= 4
i=, 1 j= 0
i=, 1 j= 1
i=, 1 j= 2
i=, 1 j= 3
i=, 1 j= 4
i=, 2 j= 0
i=, 2 j= 1
i=, 2 j= 2
i=, 2 j= 3
i=, 2 j= 4

### While Loops

In [59]:
num = 0
while num < 5:
    num += 1
    print(num)
print('done')

1
2
3
4
5
done

##### Looping 'While True'

In [62]:
while True:
    print('infinite loop')
    if True:
        break
print('done')

infinite loop
done

##### While & For Loops Used Together

In [64]:
#same as double for loop above
num = 0
while num < 5:
    print("While loop iteration:", num)
    for i in range(3):
        print('For loop iteration:', i)
    num += 1
print('done')

While loop iteration: 0
For loop iteration: 0
For loop iteration: 1
For loop iteration: 2
While loop iteration: 1
For loop iteration: 0
For loop iteration: 1
For loop iteration: 2
While loop iteration: 2
For loop iteration: 0
For loop iteration: 1
For loop iteration: 2
While loop iteration: 3
For loop iteration: 0
For loop iteration: 1
For loop iteration: 2
While loop iteration: 4
For loop iteration: 0
For loop iteration: 1
For loop iteration: 2
done

### Built-In Functions

##### range()

In [21]:
#range(start, stop, step)
#start and step are optional
#stop # not included in range
for i in range(1,5):
    print(i)

1
2
3
4

##### len()

In [69]:
name = 'Shoha'
length = len(name)
print(length)

6

##### help()

In [70]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [77]:
num = '99'
isinstance(num, str)

True

##### abs()

In [ ]:
# /-5/ 
abs(-5)

### Try and Except

In [1]:
while True:
    try:
        num = 7
        guess = int(input('Guess a number from 1-20.'))
        if guess == num:         
            print('correct')
            break
        else:
            print(f"Your number {guess} was incorrect, guess again")
    except:
        print("Please enter a digit (1-20)")

Guess a number from 1-20.7
correct

### Lists

##### Declaring Lists

In [2]:
l_1 = []
print(l_1)

names = ['Shohan', 'dylan', 'andrew']
print(names)

[]
['Shohan', 'dylan', 'andrew']

##### Indexing a List

In [3]:
names[0].upper()

'SHOHAN'

##### .append()

In [4]:
names.append('tyler')
print(names)

['Shohan', 'dylan', 'andrew', 'tyler']

##### .insert()

In [5]:
names.insert(2,'Asmeret')

##### .pop()

In [6]:
removed_name = names.pop()
print(removed_name)
removed2 = names.pop(2)
print(removed2)
print(names)

tyler
Asmeret
['Shohan', 'dylan', 'andrew']


##### .remove()

In [7]:
names.remove('Shohan')
print(names)

['dylan', 'andrew']

##### del()

In [8]:
del(names[1])
print(names)

['dylan']

##### Concatenating Two Lists

In [9]:
print(names)
names[0] = 'Shoha'
print(names)

l_1 = [1,2,3]
l_2 = [4,5,6]
beeg = l_1 + l_2
print(beeg)

['dylan']
['Shoha']
[1, 2, 3, 4, 5, 6]

##### Lists Within Lists

In [10]:
grades = [[99,98,99,100],[100,100,100,100]]
print(len(grades))
print(grades[1])

2
[100, 100, 100, 100]

##### Looping Through Lists

In [12]:
names = ['Shohan', 'dylan', 'andrew',['Ezra', 'Anthony']]

for name in names:
    if isinstance(name, list):
        for name2 in name:
            print(name2)
    else:
        print(name)

Shohan
dylan
andrew
Ezra
Anthony

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [20]:
num = 0
while num**3 <= 1000:
    print(num**3)
    num += 1

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [159]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break
for n in range(0,101):
    if n / 1 > 1:
        factors = 0
        for x in range(2,n):
            if n % x == 0:
                factors += 1
        if factors == 0:
            print(n)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [73]:
age = int(input("What is your age? "))
if age < 18:
    print("kids")
elif age < 66:
    print("adults")
else:
    print("seniors")

What is your age? 99
seniors

In [24]:
for n in range(1,6):
    print(n)

1
2
3
4
5

In [2]:
0/1

0.0